@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Gothic+A1:wght@100&family=IBM+Plex+Sans:wght@100&family=Libre+Baskerville&family=Montserrat&family=Open+Sans:wght@700&display=swap");

.container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  font-family: "Fira Code";
}
/* .dashBoard {
  border: 1px solid pink;
} */
/*
.dashBoardContent {
}
.contentHeaderCol {
} */

.dashBoardImg {
  border-right: 1px solid #1e2d3d;
}
.dashBoardImg div {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
}
.dashBoardImg div img {
  width: 24px;
  height: 24px;
}
.borderLeft {
  border-left: 1px solid #1e2d3d !important;
}
.dashBoardMainContent {
  /* border: 1px solid green !important; */
  /* border-right: 1px solid #1e2d3d; */
  margin: 0 !important;
  padding: 0 !important;
}
.dashBoardContentHeader {
  user-select: none;
  cursor: pointer;
  height: 7%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1e2d3d ;
}
.dashBoardContentHeader h5 {
  font-size: 16px !important;
  font-weight: 400;
  height: fit-content;
  width: fit-content;
  margin: 0;
  /* border: 1px solid red; */
}
.dashBoardContentHeader img {
  transform: rotate(-90deg);
  transition: 0.3s;
  /* border: 1px solid green; */
  height: 6px;
  width: 8.5px;
  margin-inline: 5%;
}

.dashBoardContentMenu {
  min-height: 33%;
  /* border: 1px solid yellow; */
  /* margin: 0%; */
}
.dashBoardContentMenu ul {
  padding: 0% !important;
  /* border: 1px solid pink; */
  margin-top: 4%;
  /* display: flex;
  flex-direction: column; */
}
.dashBoardContentMenu li {
  /* border: 1px solid grey; */
  color: #607b96;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  /* align-items: center; */
  /* border: 1px solid green; */
  /* padding: 0;
  margin: 0%; */
}
.dashBoardContentMenu img {
  /* border: 1px solid green; */
  width: 14.444px;
  height: 13px;
  margin-right: 5%;
}
.openFileImg {
  width: 12.728px !important;
  height: 7.778px !important;
  margin-inline: 5%;
  flex-shrink: 0;
  transition: 0.3s;
  transform: rotate(-90deg);
}
.activeFile {
  transform: rotate(0deg) !important;
}
.defaultMargin {
  margin: 0 !important;
  padding: 0 !important;
}
.borderRight {
  border-right: 1px solid #1e2d3d !important;
}

/*---- DashConDisplayContainer ------*/
.DashConDisplayContainer {
  /* border: 1px solid pink; */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.DashConDisplayHeadCon {
  height: 7%;
  display: flex;
  border-bottom: 1px solid #1e2d3d;
}
.contentHalfcontainer {
  flex: 1;
  display: flex;
  padding-left: 4.8%;
  padding-right: 3%;
}
.contentHalfItem {
  /* border: 1px solid pink; */
  flex: 1;
  border-right: 1px solid #1e2d3d;
  height: 100%;
  display: flex;
  padding: 4.8% 0;
  overflow: auto;
}
.DetailedBody {
  /* border: 1px solid pink; */
  flex: 1;
  max-height: 65vh;
  overflow-y: auto;
  font-size: 15px;
  color: #607b96;
  overflow-x: hidden;
}
.snippetHead {
  /* border: 1px solid green; */
  margin-top: 10%;
  display: flex;
  height: 12%;
}
.snippetHeadImgCover {
  /* border: 1px solid peru; */
  width: 13%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.snippetHeadImgCover img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.snippetHeadinfo {
  /* border: 1px solid green; */
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.snippetHeadinfoTop {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userName {
  padding: 0 !important;
  margin: 0 !important;
  width: fit-content;
}
.detailsAndStarContainer {
  /* border: 1px solid peru; */
  user-select: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 65%;
}
.details {
  display: flex;
  white-space: nowrap;
  flex: 1;
}
.details img {
  width: 18px;
  height: 18px;
  margin: 0 5%;
}
.details p {
  padding: 0 !important;
  margin: 0 !important;
  flex: 1;
}
.date {
  flex: 1;
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}
.date p {
  /* border: 1px solid blue; */
  padding: 0% !important;
  margin: 0% !important;
  width: fit-content;
  height: fit-content;
}
.snippetContainer {
  height: 48%;
  margin-top: 1%;
  border: 1px solid #1e2d3d;
  border-radius: 15px;
  width: 95%;
  display: flex;
  overflow-x: auto;
}

/* HEAD TAGS */
.headtags {
  border-right: 1px solid #1e2d3d;
  padding-inline: 12.18px;
  display: flex;
  align-items: center;
  user-select: none !important;
}
.headtags img {
  height: 11px;
  width: 11px;
  margin-left: 49.1px;
  cursor: pointer;
  user-select: none !important;
}
.contactItem {
  display: flex !important;
  align-items: center !important;
}
.PersonalInfoItems {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}
.ssHeaders {
  display: none;
  padding-inline: 7%;
  height: 7vh;
  align-items: center;
}
@media screen and (max-width: 949px) {
  .SSNoDisplay {
    display: none !important;
  }
  .ssNoBorder {
    border: none !important;
  }
  .ssFitContainer {
    display: flex !important;
    flex-direction: column;
    /* border: 3px solid pink; */
  }
  .dashBoard {
    /* height: fit-content; */
    width: 100% !important;
  }
  .dashBoardMainContent {
    width: 100% !important;
    height: fit-content;
  }
  .dashBoardContentHeader {
    height: 4vh;
    background: #1E2D3D;
    margin-top: 1% !important;
    /* border: 1px solid green !important; */
  }
  .ssFullWidth {
    width: 100% !important;
  } 
  /* .DashConDisplayContainer {
    border-top: 1px solid #1e2d3d !important;

  } */
  .DashConDisplayHeadCon {
    height: fit-content;
  }
  .height10vh {
    height: 10vh;
    border: none !important;
  }
  .contentHalfcontainer {
    padding: 0 !important;
  }
  .headtags {
    border: none !important;
    /* border: 1px solid black; */
    margin-left: 5%;
    align-items: center;
  }
  .body2Header {
    margin-left: 5%;

  }
  /* .headtags img{
    display: none;
  } */
  .snippetHead {
    /* border: 1px solid green !important; */
    width: 90%;
    margin-inline: auto;

  }
  .detailsAndStarContainer {
    /* border: 2px solid pink; */
    width: fit-content;
  }
  .snippetContainer {
    margin-inline: auto;
    width: 92%;
  }
  .DashConDisplayHeadCon {
    border: none !important;
  }
  .borderRight {
    border: none !important;
  }
  .ssHeaders {
    display: flex;
  }
  /* .container {
    min-height: fit-content !important;
  } */
}

@media screen and (max-width: 635px) {
  .snippetHead {
    /* border: 1px solid green !important; */
    width: 90%;
  }
  .snippetContainer {
    width: 80%;
    height: 60%;
  }
}