.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.currentItem{
  color: #fff !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* styles.css */
.black-background {
  background-color: black !important; /* Use !important to override any conflicting styles */
  font-size: 14px !important;
  margin: 0 !important;
  border-radius: 15px !important;
}

/* styles.css */
.black-background {
  background-color: black !important;
  height: 100% !important;
}

/* Container for horizontal scrolling */
.code-container {
  flex: 1;
  width: 100%;
  max-width: 100%; /* Set a max-width to control the maximum width */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks within code */
}


/* MessageComponentContainer */
.MessageComponentContainer {
  display: flex;
}
.index {
  width: 5%;
  display: flex;
  margin-right: 5%;
  justify-content: center;
}
.formattedMessage {
  width: 85%;
}
@media screen and (max-width: 949px) {
  .ssNoDisplay {
   display: none !important;
  }
  .MessageComponentContainer {
    justify-content: center;
    align-items: center;
  }
  /* .formattedMessage {
  } */
}
@media screen and (max-width: 635px) {
  .code-container {
    width: 100%  !important;
    max-width: 100% !important; /* Set a max-width to control the maximum width */
  }
  .ssNoDisplay635 {
    display: none !important;
   }
}

/* ---------------------- */
.navitem_Ul{
  flex: 1;
  /* border: 1px solid white; */
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
.navitem_Ul li{
  /* border: 1px solid green; */
  border-top: 1px solid #1E2D3D;
  height: 7vh;
  display: flex;
  align-items: center;
  padding-left: 8%;
  font-family: "Fira Code";
}
.navitem_Ul li:first-child{
  margin-top: 7vh;
}
.navitem_Ul li:last-child{
  border-bottom: 1px solid #1E2D3D;
}
/* ------------------------ */